{%extends "linux_base.html"%}
{%block title%}
    <title>&lt;/CodeWithSubham&gt; | Basic of Linux</title>
{%endblock title%}
{%block body%}
<main class="container py-4">
    <div class="mb-5 my-2 mx-2">
	<h1>Basic of Linux</h1>
</div>
	<section class="mb-5 my-2 mx-2">
        <h3>What is Linux? </h3>
        <p>Linux is powerful, secure, open source operating system. Linux made by Linus Torvalds. Linux have many distribution specificly devide for your tasks</p>
        <div class="my-2">
            <h3>Features of Linux : </h3>
            <ul class="ps-3">
                <li class="mb-2 lh-lg">Linux is powerful OS</li>
                <li class="mb-2 lh-lg">It's Open source. You can install it any Computer</li>
                <li class="mb-2 lh-lg">It's very secure OS</li>
                <li class="mb-2 lh-lg">We can make a bootable pendrive of Linux</li>
                <li class="mb-2 lh-lg">Linux used in IT field</li>
            </ul>

        </div>

    </section>
   <section class="mb-5 my-2 mx-2">
    <div class="mb-4">
        <h3>Linux Distributions</h3>
    </div>

    <div class="my-2">
        <h5>Ubuntu</h5>
        <p>Ubuntu is a user-friendly, secure and open-source OS. It is widely used in development, servers, and cloud computing.</p>
    </div>

    <div class="my-2">
        <h5>Kali Linux</h5>
        <p>Kali Linux is designed for cybersecurity and penetration testing. It comes with pre-installed hacking and forensic tools.</p>
    </div>

    <div class="my-2">
        <h5>Zorin OS</h5>
        <p>Zorin OS is based on Ubuntu with a Windows/Mac-like GUI, suitable for beginners shifting from other OS platforms.</p>
    </div>

    <div class="my-2">
        <h5>Debian</h5>
        <p>Debian is one of the oldest and most stable Linux distributions. It is used in servers and forms the base for many other distros like Ubuntu.</p>
    </div>

    <div class="my-2">
        <h5>Arch Linux</h5>
        <p>Arch Linux is a lightweight, flexible, rolling-release OS for advanced users who prefer to build their system from scratch.</p>
    </div>

    <div class="my-2">
        <h5>Fedora</h5>
        <p>Fedora is cutting-edge, secure, and sponsored by Red Hat. It is mainly used for development and testing the latest Linux features.</p>
    </div>

    <div class="my-2">
        <h5>Linux Mint</h5>
        <p>Linux Mint is based on Ubuntu and Debian. It is popular for desktop users because of its simplicity, speed, and multimedia support.</p>
    </div>

    <div class="my-2">
        <h5>Red Hat Enterprise Linux (RHEL)</h5>
        <p>RHEL is a commercial Linux distribution used in enterprise environments, servers, and cloud platforms with professional support.</p>
    </div>

    <div class="my-2">
        <h5>Manjaro Linux</h5>
        <p>Manjaro is based on Arch Linux but more user-friendly. It is great for desktop users who want Arch features with easier setup.</p>
    </div>

    <div class="my-2">
        <h5>Elementary OS</h5>
        <p>Elementary OS is known for its beautiful and minimalistic design, inspired by macOS. It is focused on everyday desktop use.</p>
    </div>
</section>
    <section class="mb-5 my-2 mx-2">
        <h3>Installation of Linux</h3>
        <ol class="ps-3">
            <li class="mb-2 lh-lg">
                Install the ISO file of the linux distribution that you want
            </li>

            <li class="mb-2 lh-lg">
                Install <code>rufus</code> software. This software make a USB pendrive to bootable.
            </li>
            <li class="mb-2 lh-lg">
                Run the rufus software.
            </li>
             <li class="mb-2 lh-lg">
                Insert your pendrive.
            </li>
            <li class="mb-2 lh-lg">
                Select the pendrive name. It will usually selected.
            </li>

            <li class="mb-2 lh-lg">
                Select the ISO file of the linux distro.
            </li>
            <li class="mb-2 lh-lg">
                Chose the persistancy. This persistancy needed to store any changes that you done in the bootable pendrive linux.
            </li>
            <li class="mb-2 lh-lg">
                Click on start button. It will take time. The data you have stored in the pendrive it will formated.
            </li>
            <li class="mb-2 lh-lg">
                After installing the ISO in pendrive restart your computer and click the bootmenu key. It usually F11 and F12.
            </li>

            <li class="mb-2 lh-lg">
                Select the pendrive name.
            </li>
            
        </ol>
        <h6>The Linux will start in live pendrive and every changes will stored</h6>
    </section>
    <a href="/linux_basic_command" class="btn btn-dark rounded-pill ms-2">Basic commands of Linux›</a>
</main>

          

{%endblock body%}