{%extends "base.html"%}
{%block title%}
<title>Blogs</title>
{%endblock title%}
{%block body%}
<h1 class="text-center">Blogs</h1>
	<div class="row row-cols-1 row-cols-md-3 g-4 mx-2">
  <div class="col">
    <div class="card">
      <img src="/static/programming.jpg" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">Which programming langauge should learn</h5>
        <p class="card-text">In the world there aare many programming language. But Don't worry in this blog i will tell you which programming language is best for you</p>
        <a href="/which" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>


<!--how to learn coding fast-->
  <div class="col">
    <div class="card">
      <img src="/static/fast.jpeg" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">How to Learn Programming  Learning fast</h5>
        <p class="card-text">In this IT sector we have to learn new technologies fast. In this blog we will discuse how we can learn any programming panguage faster</p>
        <a href="/fast" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>
  <!--study more in less time-->
  
  <div class="col">
    <div class="card">
      <img src="/static/study.jpeg" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">How to study more in less time</h5>
        <p class="card-text">Every students steresed for the exam. The exam is near by and thier preprations is zero. In this blog we will discuse how you can study more in less time</p>
        <a href="/study" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>

  <!--super computers-->
  <div class="col">
    <div class="card">
      <img src="/static/super.jpeg" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">Super Computers</h5>
        <p class="card-text">Super computers are 100x powerful than a normal computer. In this blog we will discuse about Super Computers</p>
        <a href="/supercomputer" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>
  <!--quantom computers-->
    <div class="col">
    <div class="card">
      <img src="/static/quantum.webp" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">Quantum Computers</h5>
        <p class="card-text">Quantum Computer is 100x powerful than a super computer. In this blog you will learn about Quantum computers</p>
        <a href="/quantumcomputer" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>

  <!--how to become software engineer-->
  <div class="col">
    <div class="card">
      <img src="/static/softwareengineer.jpg" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">How to become software engineer?</h5>
        <p class="card-text">Software engineering carrier is the best carrier oportunity for your future. The average salary of a software engineer in India is 7 to 8 LPA. </p>
        <a href="/softwareengineer" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>
  <!--how to become web devloper -->

  <div class="col">
    <div class="card">
      <img src="/static/webdevloper.webp" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">How to become Web Devloper?</h5>
        <p class="card-text">Web Devlopment job is also a high demanding job. Average salary of an Web Devloper in India is 2 to 7 LPA. </p>
        <a href="/webdevloper" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>

  <!--how to become app devlper-->
  <div class="col">
    <div class="card">
      <img src="/static/appdevloper.jpg" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">How to become App Devloper?</h5>
        <p class="card-text">App devlopment job is the best job oportunity for your carrier. Average salary of an App Devloper is 3 to 6 LPA.</p>
        <a href="/appdevloper" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>

  <!--how to become ai engineer-->
  <div class="col">
    <div class="card">
      <img src="/static/aiengineer.avif" class="card-img-top" alt="Which Programming langiage shuld learn" style="height:250px;">
      <div class="card-body">
        <h5 class="card-title">How to become AI Engineer?</h5>
        <p class="card-text">AI Engineer is the best carrier oportunity. Average salary of an AI Engineer is 5 to 10 LPA.</p>
        <a href="/aiengineer" type="button" class="btn btn-dark">Start Reading</a>
      </div>
    </div>
  </div>

</div>
{%endblock body%}