{%extends "py_base.html"%}
{%block title%}
	<title>Jarvis</title>
{%endblock title%}
{%block body%}
	<div class="mb-5 my-2 mx-2">
		<h1>&lt;/CodeWithSubham&gt; | Jarvis A.I. assistant</h1>
	</div>
	<section class="mb-5 my-2 mx-2">
		<p>In <b>Iron man</b> movie we all saw the ai named <b>Jarvis</b>. Jarvis was most intelligent ai assistant made by <b>Tony Stark</b>. In this project we will make a A.I. assistant like Jarvis. </p>
	</section>
	<section class="mb-5 my-2 mx-2">
		<h3>Features of this A.I.</h3>
		<ol class="ps-3">
      	<li class="mb-3 lh-lg">
      		Voice Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Speech Recognition Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Chating Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Time showing Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Open any webaite Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Open any system application Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Youtube and google searching Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Getting any images Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Getting any topic information from wikipedia Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Weather forcasting Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		 Send messages Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Joke Feature
      	</li>
      	<li class="mb-3 lh-lg">
      		Text translating Feature
      	</li>
      </ol>
	</section>
	<section class="mb-5 my-2 mx-2">
		<h3>How we can make it?</h3>
		<ul class="ps-3">
      	<li class="mb-3 lh-lg">
      		We can use <b>input()</b> function for getting input from user.
      	</li>
      	
      	<li class="mb-3 lh-lg">
      		We can use <b>Infinity loop</b> for getting inout every time.
      	</li>
      	
      	<li class="mb-3 lh-lg">
      		We can use <b>pyttsx3</b> module for AI <b>voice feature</b>
      	</li>
      	
      	<li class="mb-3 lh-lg">
      		We can use <b>pyaudio</b> and <b>speech-recognition</b> module for <b>speech recognition feature</b>.
      	</li>
      	<li class="mb-3 lh-lg">
      		We can use <b>time</b> or <b>datetime</b> module for getting the current time.
      	</li>
      	<li class="mb-3 lh-lg">
      		We can use <b>if-elif-else</b> block for for user knowing what user want.
      	</li>
      	<li class="mb-3 lh-lg">
      		We can use <b>webbrowser</b> module for opening website, youtube and google search.
      	</li>
      	<li class="mb-3 lh-lg">
      		We can use <b>os</b> module for open system application.
      	</li>
      	<li class="mb-3 lh-lg">
      		We can use <b>wikipedia</b> module for fetch data from wikipedia.
      	</li>
      	<li class="mb-3 lh-lg">
      		We can use <b>pywhatkit</b> module for send whatsapp messages.
      	</li>
      	<li class="mb-3 lh-lg">
      		We can use <b>deep_translator</b> module for text translating.
      	</li>
      	
      </ul>
	</section>
	<div class="mx-3 my-4">

    <h4 class="mb-3 text-dark">Connect With Me</h4>
    
    <p class="mb-2">
      You can send me your code at my 
      <a href="mailto:subhamkumarbetal2010@gmail.com" class="text-decoration-none fw-bold text-danger">
        Gmail Account
      </a>
    </p>
    
    <p>
      If you are stuck in writing code, you can see my projects on 
      <a href="https://github.com/PynRobotics31/Python/blob/main/jarvis.py" target="_blank" class="text-decoration-none fw-bold text-dark">
        Github
      </a>
    </p>
  </div>
	<a href="/py_project_1" class="btn btn-light rounded-pill shadow-sm">‹Project1 (stone paper secior game) </a>
{%endblock body%}