{%extends "linux_base.html"%}
{%block title%}
    <title>&lt;/CodeWithSubham&gt; | Linux basic commands</title>
{%endblock title%}
{%block body%}
<main class="container py-4">
    <div class="mb-5 my-2 mx-2">
	<h1>Basic linux commands</h1>
</div>
	<section class="mb-5 my-2 mx-2">
        <h5>whoami</h5>
        <p>This command returns the username that you set while you booting the os. </p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
whoami
    	</pre>
    	</div>
    </section>
    <section class="mb-5 my-2 mx-2">
        <h5>uname</h5>
        <p>This command returns the name of your os. </p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
uname
    	</pre>
    	</div>
    </section>

    <section class="mb-5 my-2 mx-2">
        <h5>passwd</h5>
        <p>This command used to change the password of your linux distro. </p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
passwd
    	</pre>
    	</div>
    </section>

        <section class="mb-5 my-2 mx-2">
        <h5>sudo su</h5>
        <p>This command used to activate the super user mode.</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
sudo su
    	</pre>
    	</div>
    </section>

           <section class="mb-5 my-2 mx-2">
        <h5>date</h5>
        <p>This command return time and date.</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
date
    	</pre>
    	</div>
    </section>

    <section class="mb-5 my-2 mx-2">
        <h5>uptime</h5>
        <p>This command return time.</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
uptime
    	</pre>
    	</div>
    </section>

           <section class="mb-5 my-2 mx-2">
        <h5>history</h5>
        <p>This command return all the command that you used previously</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
history
    	</pre>
    	</div>
    </section>

         <section class="mb-5 my-2 mx-2">
        <h5>pwd</h5>
        <p>Print working directory</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
pwd
    	</pre>
    	</div>
    </section>

         <section class="mb-5 my-2 mx-2">
        <h5>clear</h5>
        <p>This command clear the terminal screen</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
clear
    	</pre>
    	</div>
    </section>

         <section class="mb-5 my-2 mx-2">
        <h5>apt-get update</h5>
        <p>This command updates your system</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
sudo apt-get update
    	</pre>
    	</div>
    </section>

     <section class="mb-5 my-2 mx-2">
        <h5>apt-get upgrade</h5>
        <p>This command upgrade your system</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
sudo apt-get upgrade
    	</pre>
    	</div>
    </section>

         <section class="mb-5 my-2 mx-2">
        <h5>reboot</h5>
        <p>This command shutdown your linu distro and get you into the main os.</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
reboot
    	</pre>
    	</div>
    </section>

         <section class="mb-5 my-2 mx-2">
        <h5>man</h5>
        <p>This command gives information about any command</p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
man cd
    	</pre>
    	</div>
    </section>
<!--sleep command-->
 	<section class="mb-5 my-2 mx-2">
        <h5>sleep</h5>
        <p>This command shut down your terminal for some seconds. </p>
        <div class="my-3">
    <h5>Example : </h5>
    	<pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
sleep 5
    	</pre>
        <p>Now your terminal will shutdown for 5 seconds.</p>
    	</div>
    </section>
    <a href="/basic_linux" class="btn btn-light rounded-pill shadow-sm">‹Basic of linux</a>
          
<a href="/file_linux" class="btn btn-dark rounded-pill ms-2">File management commands ›</a>
</main>
      
{%endblock body%}