{%extends "py_base.html"%}
{%block title%}
	<title>&lt;/CodeWithSubham&gt; | Python Comments</title>
{%endblock title%}
{%block body%}
<main class="container py-4">
	<section class="mb-5 my-2 mx-2">
    <h2 class="h3 fw-bold mb-3">What is Comments?</h2>
    <!--ul class="ps-3">
      <li class="mb-3 lh-lg"-->
        <p>A comment is a part of the coding file that the programmer does not want to execute. Rather, the programmer uses it to either explain a block of code or to avoid the execution of a specific part of code while testing.</p>
      
      </section>
      <section class="mb-5 my-2 mx-2">
    <h2 class="h3 fw-bold mb-3">Single Line Comment</h2>
    <!--ul class="ps-3">
      <li class="mb-3 lh-lg"-->
        <p>To write a comment, just add a <code># </code>at the start of the line.</p>
       <div class="d-flex align-items-start mb-2">
      <pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
#This is a example of python single line comment
      </pre>
      
    </div>
      </section>
      <section class="mb-5 my-2 mx-2">
    <h2 class="h3 fw-bold mb-3">Multi Line Comment</h2>
    <!--ul class="ps-3">
      <li class="mb-3 lh-lg"-->
        <p>To write multi-line comments, you can use the <code>multiline string</code>.</p>
       <div class="d-flex align-items-start mb-2">
      <pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
"""This is 
a 
example 
of 
multi 
line 
comments"""
      </pre>
      
    </div>
      </section>
      <a href="/py_syntax" class="btn btn-light rounded-pill shadow-sm">‹ Python Syntax </a>
<a href="/py_variable" class="btn btn-dark rounded-pill ms-2">Python Variable ›</a>
    </main>
{%endblock body%}