{%extends "py_base.html"%}
{%block title%}
	<title>&lt;/CodeWithSubham&gt; | Python Modulea</title>
{%endblock title%}
{%block body%}
	<div class="mb-5 my-2 mx-2">
	<h1>Python Modules</h1>
</div>
<section class="mb-5 my-2 mx-2">
	<h5>what is modules?</h5>


  <p>
      A <b>Module</b> in Python is simply a file that contains Python code (functions, classes, variables).  
      It helps to organize code logically and reuse it across multiple programs.  
      Example: <code>math</code>, <code>os</code>, <code>random</code>.
    </p>
    
</section>


<section class="mb-5 my-2 mx-2">
<h5>Types of modules</h5>
<ul>
      <li><b>Built-in Modules:</b> Already available with Python installation. Example: <code>math</code>, <code>datetime</code>, <code>os</code>.</li>
      <li><b>User-defined Modules:</b> Custom modules created by developers for their own projects.</li>
      <li><b>External/Third-Party Modules:</b> Installed using <code>pip</code>. Example: <code>numpy</code>, <code>pandas</code>, <code>flask</code>.</li>
    </ul>
</section>



<section class="mb-5 my-2 mx-2">
	<h3>Popular Python Modules</h3>
    <ul>
      <li><code>numpy</code> → For numerical computing</li>
      <li><code>pandas</code> → For data analysis</li>
      <li><code>matplotlib</code> → For data visualization</li>
      <li><code>flask</code> → For web development</li>
      <li><code>django</code> → For full-stack web development</li>
      <li><code>requests</code> → For working with APIs</li>
    </ul>
</section>


<section class="mb-5 my-2 mx-2">
	<h3>How to Install a Module</h3>
    <p>Use the <code>pip</code> package manager:</p>
    <pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" 
         style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
pip install module_name</pre>

    <h5 class="mt-3">Example:</h5>
    <pre class="flex-grow-1 bg-dark text-light rounded-3 p-3 mb-0" 
         style="font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;">
pip install numpy</pre>
</section>

		<a href="/py_func_arg" class="btn btn-light rounded-pill shadow-sm">‹ Function Argument</a>
          
<a href="/py_oops" class="btn btn-dark rounded-pill ms-2">Python OOP's›</a>
{%endblock body%}