{%extends "py_base.html"%}
{%block title%}
	<title>Stone paper secior game</title>
{%endblock title%}
{%block body%}
	<div class="mb-5 my-2 mx-2">
		<h1>Stone paper secior game</h1>
	</div>
	<section class="mb-5 my-2 mx-2">
		<p>Many of them we play the game named <b>Stone Paper Secior</b>. So yours project will be the <b>Stone paper secior</b> game.</p>
	</section>
	
	<section class="mb-5 my-2 mx-2">
		<h3>Rules of this game : </h3>
		<ol class="ps-3">
      	<li class="mb-3 lh-lg">
      		If 1st player chose stone and 2nd player chose paper, so the 2nd player will win the game.
      	</li>
      	
      	<li class="mb-2 lh-lg">
      		If 1st player chose stone and 2nd player chose secior, so the 1st player will win the game.
      	</li>
      	
      	<li class="mb-2 lh-lg">
      		If 1st player chose paper and 2nd player chose stone, so the 1st player will win the game.
      	</li>
      	
      	<li class="mb-2 lh-lg">
      		If 1st player chose paper and 2nd player chose secior, so the 2nd player will win the game.
      	</li>
      	
      	<li class="mb-2 lh-lg">
      		If both players chose same the match will be draw.
      	</li>
      </ol>
	</section>
	
	<section class="mb-5 my-2 mx-2">
		<h3>How we can make?</h3>
		<ul class="ps-3">
      	<li class="mb-2 lh-lg">
      		Use <b>random</b> for chosing random guess.
      	</li>
      	
      	<li class="mb-2 lh-lg">
      		Use <b>input()</b> function for getting the user guess.
      	</li>
      	<li class="mb-2 lh-lg">
      		Use <b>loops</b> for getting the input from user multi times.
      	</li>
      	<li class="mb-2 lh-lg">
      	 	Use <b>if-elif-else</b> block for calculate you win or loss or draw.
      	</li>
        </ul>
	</section>
<div class="mx-3 my-4">

    <h4 class="mb-3 text-dark">Connect With Me</h4>
    
    <p class="mb-2">
      You can send me your code at my 
      <a href="mailto:subhamkumarbetal2010@gmail.com" class="text-decoration-none fw-bold text-danger">
        Gmail Account
      </a>
    </p>
    
    <p>
      If you are stuck in writing code, you can see my projects on 
      <a href="https://github.com/PynRobotics31/Python/blob/main/stone_paper_secior_game.py" target="_blank" class="text-decoration-none fw-bold text-dark">
        Github
      </a>
    </p>
  </div>
</div>
<a href="/py_error" class="btn btn-light rounded-pill shadow-sm">‹ Error handeling</a>
<a href="/py_project_2" class="btn btn-dark rounded-pill ms-2">Project2 (Jarvis AI assistant)›</a>
{%endblock body%}